.radio_off{width:18px;height:18px; display:inline-block; background:url(../img/radio.gif) no-repeat 0 0;margin:0;padding:0}
.radio_on{width:18px;height:18px; display:inline-block; background:url(../img/radio.gif) no-repeat 0 -18px;margin:0;padding:0}

