.znsandydate *{margin:0;padding:0}
.znsandydate{width:210px; overflow:hidden;border:1px solid #000;display: none;position: absolute;}
.znsandydate .name{height:20px; line-height:20px;}
.znsandydate .name li{height:20px;width:100%; text-align:center; color:blue;list-style:none; position:relative;}
.znsandydate .name li .pre{ position:absolute;top:0;left:0;}
.znsandydate .name li .next{ position:absolute;top:0;right:0;}
.znsandydate .week{height:30px; line-height:20px;border-bottom:1px solid #000;}
.znsandydate .week li{ float:left;width:30px;height:30px; text-align:center; list-style:none;}
.znsandydate .dateUl{ overflow:hidden; clear:both}
.znsandydate .dateUl li{float:left;width:30px;height:30px; text-align:center; line-height:30px;list-style:none;cursor: pointer}
.znsandydate .dateUl li.ccc{ color:#ccc;}
.znsandydate .dateUl li.red{ background:#F90}
.znsandydate .dateUl li.sun{ color:#f00;}